{% extends "base.html"%}

{% block content %}
<h3>Recipes</h3>
    <ul class="collapsible">
      {% for recipe in recipes %}
        <li>
          <div class="collapsible-header">
            <div class="col s1">
                <i class="material-icons">reorder</i> 
            </div>
            <div class="col s2">
                <div>
                  <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}} " class="waves-effect waves-light btn btn_small confirm">Erase</a>
                  <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">Edit</a>
                </div>
            </div>
            
            <div class="recipe_header col s9">
              <strong>{{recipe.recipe_name}}</strong>   -  {{recipe.category_name}} 
            </div>
              
                
          </div>
          <div class="collapsible-body">
              <span> 
                  {{recipe.recipe_desc}} 
                  {{recipe.difficulty}}
                  
                  {% if recipe.is_vegan %}
                  <i class="material-icons">favorite_border</i> 
                  Vegan
                  {% endif %}
                  
                  
                  {% if recipe.is_gluten_free %}
                  <i class="material-icons">cake</i>
                  Gluten Free
                  {% endif %}
                  
                  {% if recipe.is_vegetarian %}
                  <i class="material-icons">spa</i> 
                  Vegetarian
                  {% endif %}
                  
              </span>
          </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}